.smallimg {
width: 100px;
}

.headerimg {
width: 300px;

}

.body1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
}

.header {
display: flex;
justify-content: space-around;
align-items: center;

}

.divhead, .links {
    display: flex;
    
}




a {
    text-decoration: none;
    padding: 5px;
    font-size: small;
}


.container1, .container2 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}