body {
    margin: 0;
    box-sizing: border-box;
    }
h1 {
    color: white;
}

h4 {
    font-size: 18px;
  padding: 0;
  margin: 0;
}
h6 {
    color: black;
    font-size: 1.3rem;
    display: flex;
    justify-content: flex-end;
}
h2 {
    color: black;
}

.headerimg {
width: 300px;

}

.body1 {
    display: flex;
    flex-direction: column;
   flex: 1;
    }

.header {
display: flex;
justify-content: space-between;
align-items: center;
background-color: #1f2937;
padding: 10px;
color: white;
padding: 10px 100px;
}

.divhead, .links {
    display: flex;
    }

a {
    text-decoration: none;
    padding: 5px;
    font-size: small;
    color: white;
}


.container1, .container2, .container3, .container4 {
    display: flex;
    align-items: center;
    padding: 50px 50px;
    }

.container1 {
    background-color: #1f2937;
    justify-content: space-around;
    padding: 1.33rem;
    
}

.container2 {
    flex-direction: column;
    background-color: white;
    
}

.container3 {
    background-color: #E5E7EB;
    
}

.container4 {
  justify-content: center;
background-color: white;
padding: 50px 50px;
    
}
.contents1, .contents2, .contents3, .container1 {
    padding: 50px 50px;
   
}


.contents1 {
    flex-wrap: wrap;
}

.contents2 {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
    
}

.contents3 {
justify-content: center;
padding: 0px 150px;
flex-wrap: wrap;

}


.contents4 {
display:flex;
flex-direction: row;  
justify-content: center; 
align-items: center;
background-color: #3882f6;
border-radius: 10px;
padding: 35px 125px;
gap: 30px;
color: white;
flex-wrap: wrap;

}

.p1 {
    font-size: 36px ;
    color: black;
    
}

.p2 {
    margin: 0;
    padding: 0;
}
.p3 {
    color: white;
  
}

.img2 {
    width: 100px;
    border-radius: 10px;
    border: 2px solid #3882f6;
    
}

.smallimg {
    display: flex;
    width: 100px;
    padding: 10px;
    flex-direction: column;
    text-align: center;
    font-size: .5rem;
   
    
    
    }

.button1 {
    background-color:#3882f6;
    border-radius: 5px;
    border: none;
  
}

.button1, .button2 {
    padding: 5px 25px;
    color: white;  
}

.button2 {
    background-color: transparent;
    border: 2px solid white  ;
    border-radius: 5px;
    
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 20px;
}